/* 
blue - #256dad
red  - #98120f
*/
body{
	background-color:#333;
	background-image: radial-gradient(farthest-corner at 50% 50%, #008000 0%, #001001 100%);
}

.main-box{}
.main-broadcast{
	position:absolute;
	width:33%; max-height:50%; left:10px; bottom:10px;
	line-height:18px;
	color:white;
}
.main-broadcast>li{
	margin-top:5px;
}
.text-ok{color:#3dff00;}
.text-warn{color:orange;}
.text-danger{color:red;}

.main-fn{
	position:absolute;
	top:10px; right:10px; width:30px; height:80px;
}
.main-fn>li{
	width:30px; height:30px;
	margin-bottom:10px;
	background-size:contain;
}

.main-menu{background-image:url(../img/menu.png);}
.main-speak{background-image:url(../img/speak.png);}

.main-table{
	position:absolute;
	top:20px; left:50px; right:50px; bottom:60px;
}
.main-player{
	position:absolute;
	width:80px; height:80px;
}
.main-player:nth-child(1){right:140px; bottom:0;}
.main-player:nth-child(2){left:140px; bottom:0;}
.main-player:nth-child(3){left:0; bottom:0; top:0; margin:auto;}
.main-player:nth-child(4){left:140px; top:0;}
.main-player:nth-child(5){right:140px; top:0;}
.main-player:nth-child(6){right:10px; bottom:0; top:0; margin:auto;}
.main-head{
	position:absolute; overflow:hidden;
	top:0; left:0; width:100%; height:100%;
	border-radius:50%;
}
.main-name{
	position:relative; display:inline-block; overflow:hidden;
	left:60%; top:-5px; max-width:80px; height:20px; line-height:20px;
	padding:0 10px; border-radius:10px;
	background-color:rgba(0,0,0,.3); color:white;
	font-size:14px; white-space:nowrap; text-overflow:ellipsis;
}
.main-score{
	position:absolute;
	left:0; bottom:-10px; width:100%; height:20px; line-height:20px;
	border-radius:3px;
	background-color:rgba(0,0,0,.7); color:yellow;
	text-align:center; font-size:16px;
}
.main-status{
	position:absolute;
	left:100%; bottom:40px; width:50px; height:20px; line-height:20px;
	padding-left:30px;
	background:url(../img/chip.png) no-repeat left center;
	background-size:contain;
	color:white;
	font-size:16px;
}
.main-hand{
	position:absolute;
	left:60px; bottom:-15px; width:80px; height:50px;
}
.main-timer{display:none;}
.main-pool{
	position:absolute; box-sizing:border-box;
	left:0; right:0; top:0; bottom:0; width:50px; height:60px; line-height:60px;
	padding-left:70px; margin:auto;
	background:url(../img/pool.png) no-repeat left center;
	background-size:contain;
	color:white;
	font-size:24px; font-family:'Georgia';
}


.main-card{
	float:left;
	width:40%; height:100%;
	padding-left:5%; border-radius:3px; margin-right:3%;
	background:url(../img/back.jpg) no-repeat;
	background-size:contain;
	font-size:22px; font-weight:bold;
}
.main-card.heart,
.main-card.diamond,
.main-card.spade,
.main-card.club{
	background:white no-repeat 70% 80%;
	background-size:55%;
}
.main-card.heart,
.main-card.diamond{color:#98120f;}
.main-card.spade,
.main-card.club{color:black;}
.main-card.joker-1,
.main-card.joker-2{color:transparent;}
.main-card.heart{background-image:url(../img/heart.png);}
.main-card.diamond{background-image:url(../img/diamond.png);}
.main-card.spade{background-image:url(../img/spade.png);}
.main-card.club{background-image:url(../img/club.png);}
.main-card.joker1{background-image:url(../img/joker1.jpg);}
.main-card.joker2{background-image:url(../img/joker2.jpg);}

.main-wait{
	position:absolute;
	top:10px; left:10px; height:40px;
}
.main-wait>li{
	float:left; overflow:hidden;
	width:40px; height:40px;
	border-radius:50%; margin-right:5px;
}
.main-ctrl{
	position:absolute;
	bottom:10px; right:10px; height:30px;
}
.main-ctrl>li{
	float:right;
	width:50px; height:30px; line-height:30px;
	border-radius:3px; margin-left:10px;
	background-color:#256dad; color:white;
	text-align:center;
}
li.main-begin,
li.main-drop,
li.main-confirm{background-color:#98120f;}
li.main-bet{
	float:none; position:absolute;
	right:0; bottom:100%; width:100px; height:50px; line-height:50px;
	background-color:transparent;
	font-size:16px; text-align:right;
}

.menu-box{background-color:rgba(0,0,0,.2);}
.menu-box>ul{
	position:absolute;
	top:0; right:0; width:200px; height:100%;
	background-color:white;
}
.menu-box>ul>li{
	height:50px; line-height:50px;
	padding-left:50px; border-bottom:1px solid #eee;
}


.speak-box{background-color:rgba(0,0,0,.2);}
.speak-wrap{
	position:absolute;
	top:0; left:0; width:100%; height:50px;
	background-color:white;
}
.speak-inner{
	position:relative;
	top:10px; width:400px; height:30px;
	margin:0 auto;
}
.speak-inner>*{
	position:absolute;
	top:0; height:30px; line-height:30px;
}
.speak-input{
	left:0; width:260px; height:28px; line-height:28px;
	padding:0 10px; border:1px solid #ccc;
}
.speak-inner>div{
	width:50px;
	border-radius:3px;
	color:white;
	text-align:center;
}
.speak-submit{
	right:60px;
	background-color:#256dad;
}
.speak-x{
	right:0;
	background-color:#98120f;
}
